/* body changes */
body {
  background-image: url(background_image.jpg");
  background-size: cover;
  background-attachment: fixed;
  
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  
  font-family: Arial, sans-serif;
}

/* my name or heading1 */
h1 {
  color: purple;
  font-family: Georgia, serif;
  font-size: 36px;
}

/* section titles or heading2 */
h2 {
  margin-top: 45px;
  color: darkred;
  font-family: Verdana, sans-serif;
  font-style: italic;
}

/* image */
img {
  border: 5px solid black;
  padding: 5px;
}

/* paragraph */
p {
  font-size: 18px;
}

/* unordered lists */
ul {
  display: inline-block;
  text-align: left;
}
