/*body changes*/
body {
  background-color: lightgrey;
  text-align: center;
  margin: 20px;
}

/*my name or heading*/
h1 {
  color: purple;
  font-family: Georgia;
}

/*unordered lists*/
ul {
  display: inline-block;
}
